name = "NeutronTransport"
uuid = "161f4978-d3bb-4696-90f4-058341551711"
authors = ["Ramiro Vignolo <ramirovignolo@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1.5"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
